@import "/src/assets/scss/color";
input{
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 0 10px;
    border: solid 1px rgb(255, 255, 255, .4);
    color: white;
    background-color: rgba(0,0,0,0);
    border-radius: 10px;
}
input[type=submit]{
    border: none;
    box-shadow: 0 2px 2px black;
    border-radius: 5px;
    margin: 10px 0 20px 0;
    cursor: pointer;
    background-color: $corverde;
    font-weight: 600;
    color: white;
    height: 38px;
    transition: .5s;
}

input[type=submit]:hover{
    background-color: #1f8136;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}